/*Custom template styles*/
.jumbotron {
	background-size: cover;
	background-image: url('/media/images/site/pattern.png');
}

.privilege {
	color:#bb0f40;
}

.logotype{
	margin: 0px 0px 20px 0px;
}

#instagram {
	background: rgb(163,89,242);
	background: -moz-linear-gradient(45deg,  rgba(163,89,242,1) 0%, rgba(226,24,139,1) 99%);
	background: -webkit-linear-gradient(45deg,  rgba(163,89,242,1) 0%,rgba(226,24,139,1) 99%);
	background: linear-gradient(45deg,  rgba(163,89,242,1) 0%,rgba(226,24,139,1) 99%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a359f2', endColorstr='#e2188b',GradientType=1 );
	color:#FFF;
}

#content{
	margin-bottom: 30px; 
}

#video{
	margin: 10px 0 10px 0;
}

/*
@brand-primary {darken(#da124a, 6.5%)}
@input-border-focus {#da124a}
*/
